html { 
  background: url("../batman.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{

	font-family: 'Roboto';
}

.container{
	margin: 250px auto;
	width:360px;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	background-color: #f7f7f7;
}

h1{
	background-color:yellow;
	color: black;
	margin: 0;
	padding: 10px 20px;
	font-size: 26px;
	font-weight: normal;
}

.fa-edit{

	float: right;
}

li span{

	background:#e74c3c;
	color: white;
	height:30px;
	margin-right: 20px;
	width: 0;
	display: inline-block;
	text-align: center; 
	transition: 0.2s;
	opacity: 0;

}

li:hover span{

	width: 40px;
	opacity: 1;

}

input{
	width: 100%;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
	background-color:#f7f7f7;
	font-size: 18px;
	box-sizing: border-box;
	padding: 13px 13px 13px 20px;
}

input:focus{

	background:#fff;
	border: 3px solid #2980b9;
	outline: none;
}

ul{
	list-style: none;
	margin:0;
	padding: 0;
}

li{
	background:#fff;
	padding: :0;
	line-height: 30px; 
}

li:nth-child(2n){

	background: #f7f7f7;
}

.completed{
	color: gray;
	text-decoration: line-through;
}
